<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.logging.log4j.core">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/yyyy HH'h 'mm'min 'ss's 'SSS'ms'} %-5level %c{1} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${work_dir}/logs/IdeesDeCadeauxTasks.log" append="true" filePattern="${work_dir}/logs/%d{yyyy-MM-dd}-IdeesDeCadeauxTasks-%i.log" >
			<PatternLayout pattern="%d{dd/MM/yyyy HH'h 'mm'min 'ss's 'SSS'ms'} %-5level %c{1} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<logger name="org" level="warn" />
		<logger name="com.mosioj" level="debug" />
		<Root>
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
