
/******************/
/* *** Header *** */
/******************/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    border-bottom: blue solid 1px;
    -webkit-box-shadow: 0 1px 10px blue;
    box-shadow: 0 1px 10px blue;
    z-index: 80;
    background-color: white;
    min-width: 850px;
}

#rightPart {
    text-align: right;
    margin: 5px 30px;
}

#leftPart {
    margin: 5px 30px;
    float: left;
}

#notif {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffff88;
    min-width: 800px;
}

#notif table {
    width: 100%;
    border-collapse: collapse;
}

#notif img {
    vertical-align: -35%;
}

#notif tr:hover {
    background-color: #ffde6f;
}

#notif td:first-child {
    padding-left: 30px;
    width: 40px;
}

#notif td:last-child {
    padding-right: 180px;
}

#notif a:link, #notif a:visited, #notif a:active {
    text-decoration: none;
    color: black;
}

#notif a:hover {
    text-decoration: none;
}

#hideShowNotif {
    position: fixed;
    top: 110px;
    right: 30px;
    z-index: 50;
    width: 100px;
    text-align: center;    
}

#hideShowNotif:hover {
    cursor: pointer;
}

#hideShowNotif div {
    border: #000 solid 2px;
    border-radius: 8px;
    padding: 2px;    
    background-color: white;
}