@CHARSET "UTF-8";

.indexbox {
	padding-top: 150px;
	min-height: 300px;
	text-align: center;
}

#middleindexbox {
	text-align: center;
	background: #8a8a8a;
	padding: 1em;
	color: white;
}

.indexaction {
	background-color: #8a8a8a;
	margin: 150px;
	padding: 2em;
}

a:link, a:visited, a:active {
	color: white;
    text-decoration: none;	
}
