@CHARSET "UTF-8";

.indexbox {
	padding-top: 150px;
	min-height: 300px;
	//text-align: center;
}

#middleindexbox {
	text-align: center;
	background: #8a8a8a;
	padding: 1em;
	color: white;
}

a:link, a:visited, a:active {
	color: white;
    text-decoration: none;	
}

/********************************/
/* *** First letter colored *** */
/********************************/

.indexbox ul li a span {
	display: block;
	float:left;
	padding: 0 2px;
    background-color: #8a8a8a;
}

.indexbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.indexbox ul li {
	margin-left: 20%;
    float: left;
    padding: 40px 30px;
    background-color: #8a8a8a;
}

.indexbox ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
}