/******************/
/* *** Header *** */
/******************/
header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #EDEDED;
	width: 100%;
	border-bottom: black solid 1px;
	min-width: 700px;
	padding: 10px;
}

header table {
	width: 100%;
}