
/*******************************/
/* *** Formulaire de login *** */
/*******************************/

.login_form {
    background-color: #8a8a8a;
    color: white;
    width: 700px;
    margin: 50px auto;
    margin-bottom: 0;
    padding: 20px 50px;
}

.login_form table {
	width: 100%;
}

.login_form a.button {
	display: block;
    width: 100%;
    background-color: #c0c0c0;
    color: black;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.login_form a.button:hover {
	background: #353b43;
	color: white;
    text-decoration: none;
}

/***************************/
/* *** Index protected *** */
/***************************/

#indexactions {
	width: 70%;
	margin: 20px auto;
}

#indexactions tr td {
	padding: 20px 0;
	text-align: center;
}

/***********************************/
/* *** Person with information *** */
/***********************************/

#person_square_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-gap: 00px;
	justify-content: center;
	align-content: flex-start;
	list-style: none;
	padding: 0;
}

#person_square_container > * {
	vertical-align: top;
}

.person_square {
	margin: 0 10px;
	text-align: center;
}

.person_square_action  {
	margin: 5px;
	padding: 8px;
	background-color: #8a8a8a;
	color: white;
}
.person_square_action a:link, .person_square_action a:visited, .person_square_action a:active {
    color: #b0cff8;
}

/***********************************/
/* *** Ideas with information *** */
/***********************************/

#ideas_square_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 330px);
	grid-gap: 00px;
	justify-content: center;
	align-content: flex-start;
	list-style: none;
	padding: 0;
	margin: 0 -60px;
}

#ideas_square_container > * {
	vertical-align: top;
}

.idea_square {
	margin: 10px 0 20px 20px;
	padding: 5px 5px;
	text-align: center;
	background-color: #fef4ff;
    border: transparent solid 1px;
    -webkit-box-shadow: 0 1px 5px transparent;
    box-shadow: 0 1px 5px transparent;
}
.idea_square:hover {
	background-color: #c1b0f8;
    border: #353b43 solid 1px;
    -webkit-box-shadow: 0 1px 5px #353b43;
    box-shadow: 0 1px 5px #353b43;
}

.booked_by_me_idea {
	background-color: #d6ffd7;
}
.booked_by_others_idea {
	background-color: #d6d6d6;
}
.shared_booking_idea {
	background-color: #fffac9;
}

/*******************/
/* *** Tooltip *** */
/*******************/

.top_tooltip {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.top_tooltip .top_tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: #353b43;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -235px;
}

.top_tooltip .top_tooltiptext a {
    color: #b0cff8;
}

.top_tooltip .top_tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.top_tooltip:hover .top_tooltiptext {
    visibility: visible;
}