db.username=
db.password=
db.url=jdbc:mysql://host/db_name
base_url=https://domain.fr/${project.name}
work_dir=/temp/entrainements-natation
mail.host=ipAdressOrHostName
mail.from=ne-pas-repondre@domain.fr
googleCaptchaSecretKey=somethingProvidedByGoogle
