<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.logging.log4j.core">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy HH'h 'mm'min 'ss's 'SSS'ms'} %-5level %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.hibernate" level="info"/>
        <logger name="org.hibernate.SQL" level="debug"/>
        <logger name="org" level="warn"/>
        <logger name="com.mosioj.ideescadeaux" level="debug"/>
        <Root>
            <AppenderRef ref="Console" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>
