/******************/
/* *** Global *** */
/******************/
html {
	min-width: 850px;
}

body {
	margin: 0;
	padding: 50px 90px 0 90px;
	font-size: 100%;
	line-height: 1.6;
	font-family: arial, helvetica, "bitstream vera sans", sans-serif;
	color: #000000;
	background-color: #eaf5fc;
	min-width: 1100px;
	height:100%;
}

input:not ([type=file] ), select {
	padding: 2px;
}

input:not ([type=file] ):focus {
	padding: 2px;
	border: blue inset 2px;
	-webkit-box-shadow: 0 0px 3px blue;
	box-shadow: 0 0px 3px blue;
}

select:focus {
	padding: 1px;
	border: blue inset 2px;
	-webkit-box-shadow: 0 0px 3px blue;
	box-shadow: 0 0px 3px blue;
}

#container {
	background-color: #ffffff;
	padding: 100px;
}

/*****************/
/* *** Index *** */
/*****************/
h1 {
	text-align: center;
}

h3 {
	font-family: 'Comic Sans MS';
	text-shadow: 2px 2px 2px #b0b0ed;
}

.ideespersonne {
	padding: 10px;
	border: #cacaed solid 1px;
	-webkit-box-shadow: 0 1px 10px #cacaed;
	box-shadow: 0 1px 10px #cacaed;
}

.ideespersonne:hover {
	border: #ed8282 solid 1px;
	-webkit-box-shadow: 0 1px 10px #ed8282;
	box-shadow: 0 1px 10px #ed8282;
}

/*****************/
/* *** Table *** */
/*****************/
table.main {
	margin-left: 2%;
	border-spacing: 0px;
	width: 96%;
}

.main tr.surprise td:first-child {
	border-left: #cacaed solid 1px;
}

.main tr.surprise td:last-child {
	border-right: #cacaed solid 1px;
}

.main tr.surprise td {
	border-top: #cacaed solid 1px;
	border-bottom: #cacaed solid 1px;
	background-color: #F7F7FF;
}

.main tr:hover td {
	border-bottom: #000000 dashed 1px;
	border-top: #000000 dashed 1px;
}

.main tr:hover td:first-child {
	border-left: #000000 dashed 1px;
}

.main tr:hover td:last-child {
	border-right: #000000 dashed 1px;
}

.main tr:hover td {
	background-color: #d4d4d4;
}

.main tr {
	height: 41.8px;
}

.main tr td {
	border: transparent solid 1px;
}

.main td.icone {
	width: 30px;
}

.main td.tripple_icone {
	width: 120px;
}

.main td:last-child {
	width: 270px;
}

.main td {
	padding: 5px 10px 0 10px;
}

/* Marge entre chaque pâté d'idées */
.hr {
	padding: 20px 0px;
	color: black;
	background-color: #eaf5fc;
}

.info_table {
	margin-left: 50px;
	width: 80%;
}