<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>NosIdeesDeCadeaux</display-name>

	<session-config>
		<session-timeout>6000</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>protected/index</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/web-db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-security.xml,
			/WEB-INF/spring-database.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>loginHelper</filter-name>
		<filter-class>com.mosioj.viewhelper.LoginHelper</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginHelper</filter-name>
		<url-pattern>/protected/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>DeviceResolver</filter-name>
		<filter-class>com.mosioj.viewhelper.DeviceResolverFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DeviceResolver</filter-name>
		<url-pattern>/protected/*</url-pattern>
		<url-pattern>/public/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Caching</filter-name>
		<filter-class>com.mosioj.viewhelper.CachingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Caching</filter-name>
		<url-pattern>/resources/css/lib/*</url-pattern>
		<url-pattern>/resources/css/BAUHS93.TTF</url-pattern>
		<url-pattern>/resources/image/*</url-pattern>
		<url-pattern>/resources/js/lib/*</url-pattern>
		<url-pattern>/protected/files/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>MultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>work_dir</param-name>
		<param-value>${work_dir}</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/public/NotFound</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.security.web.authentication.rememberme.CookieTheftException</exception-type>
		<location>/public/login.jsp</location>
	</error-page>

</web-app>