@CHARSET "UTF-8";

@font-face {
	font-family: "MyFont";
	src: url('BAUHS93.TTF');
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	font-family: sans-serif, "MyFont", Georgia, Arial;
	font-size: 105%;
}

div#container {
	position: relative; /* needed for footer positioning*/
	margin: 0 auto; /* center, not in IE5 */
	width: 100%;
	min-width: 950px;
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
}

header {
	background: #353b43;
	padding: 10px 10px 20px 10px;
}

#header_logo_picture {
	width: 100%;
	display: block;
	text-align: center;
}

header #logo_text {
	display: inline-block;
	color: white;
	font-size: 200%;
	text-align: center;
	padding: 10px;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to bottom */
	background: #353b43;
	text-align: center;
	height: 30px;
	color: white;
}
footer a:link, footer a:visited, footer a:active {
    color: #b0cff8;
}

div#content {
	padding: 10px 10px 40px 10px; /* bottom padding for footer */
}

/**********************/
/* *** Menu *** */
/**********************/

.menu_icon {
	vertical-align: super;
	float: left;
}

#menu_content {
	padding: 10px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color: #8a8a8a;
	max-height: 999999px;
	font-size: 260%;
	z-index: 9999;
	border: #353b43 solid 2px;
	-webkit-box-shadow: 0 1px 5px #353b43;
	box-shadow: 0 1px 5px #353b43;
	display: none;
}
#menu_content > div > a {
	display: block;
	padding: 40px 50px;
	color: white;
	text-align: center;
}
#menu_content > div > a:hover {
	background-color: #111;
}


#right_search_field {
	display: block;
	max-height: 999999px;
	font-size: 270%;
	margin-top: 12px;
	margin-left: 8px;
	vertical-align: top;
}
#right_search_field form {
	display: inline;
}
#right_search_field input {
	margin: 0 3px;
	display: inline;
	width: auto;
	padding: 5px 7px;
}

#menu_right_connection {
	display: inline-block;
	max-height: 999999px;
	font-size: 200%;
	vertical-align: top;
	margin-left: 20px;
}
#menu_right_connection a:link, #menu_right_connection a:visited, #menu_right_connection a:active {
	color: #b0cff8;
	padding: 20px;
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
}

/********************************/
/* *** First letter colored *** */
/********************************/

.fl_yellow::first-letter {
	color: #f3f0c9;
}
.fl_green::first-letter {
	color: #c9f3d5;
}
.fl_blue::first-letter {
	color: #b0cff8;
}
.fl_purple::first-letter {
	color: #c1b0f8;
}
