div#content {
	max-height: 999999px;
	font-size: 200%;
}

@media (max-width: 640px) {

    /* passer tous les éléments de largeur fixe en largeur automatique */
    body, element1, element2 {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
    img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
        max-width: 100%;
    }
    
    /* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
    img {
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* gestion des mots longs */
    textarea, table, td, th, code, pre, samp {
        word-wrap: break-word; /* passage à la ligne forcé */
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
    }
    code, pre, samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
    element1, element2 {
        float: none;
        width: auto;
    }

    /* masquer les éléments superflus */
    .hide_mobile {
        display: none !important;
    }

    /* Un message personnalisé */
    body:before {
        display: block;
        color: #777;
        text-align: center;
        font-style: italic;
    }
}

/* Le viewport */
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 */
}


/***********************************/
/* *** Ideas with information *** */
/***********************************/

.idea_square {
	width: 100%;
	padding: 0;
}
.idea_square > div {
	padding: 10px;
}

.idea_square_text {
	overflow: hidden;
}

/*******************/
/* *** Tooltip *** */
/*******************/
.top_tooltip {
	position: relative;
	display: inline-block;
	padding-top: 10px;
}

.top_tooltip .outer_top_tooltiptext {
	visibility: hidden;
	padding: 20px 0;
}

.top_tooltip .outer_top_tooltiptext {
	width: 80%;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 10%;
	margin-left: 0;
}

.top_tooltip .outer_top_tooltiptext .top_tooltiptext {
	text-align: left;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0%;
	-webkit-box-shadow: 0 1px 0 black;
	box-shadow: 0 1px 0 black;
}

.top_tooltip .top_tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -25px;
	border-width: 25px;
	z-index: 2;
	border-color: #353b43 transparent transparent transparent;
}

/***************************/
/* *** Index protected *** */
/***************************/
#indexactions tr td {
	display: block;
	padding: 40px 0;
}



/***********************************/
/* *** Person with information *** */
/***********************************/
#person_square_container {
	grid-template-columns: repeat(auto-fill, 450px);
}

