/* 
    Document   : common.css
    Created on : 7 févr. 2014, 07:37:49
    Author     : Jordan Mosio
    Description:
        Common css to mobile and computer layout.
*/
.center {
	text-align: center;
}

.word-break-all {
	word-break: break-word;
}

.left {
	text-align: left;
}

/* Les liens */
.clickable {
	text-decoration: none;
	color: blue;
}

.clickable:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:link, a:visited, a:active {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.img:link, a.img:visited, a.img:active, a.img:hover {
	text-decoration: none;
}

img.clickable, a > img, .idea_square img {
	text-decoration: none;
	border: transparent solid 1px;
	-webkit-box-shadow: 0 1px 5px transparent;
	box-shadow: 0 1px 5px transparent;
	border-radius: 2px;
	padding: 2px;
}

img.clickable:hover, a > img:hover {
	text-decoration: none;
	border: #353b43 solid 1px;
	-webkit-box-shadow: 0 1px 5px #353b43;
	box-shadow: 0 1px 5px #353b43;
	border-radius: 2px;
}

img.clickable:hover {
	cursor: pointer;
}

img.clickable:active, a:active > img:active {
	border: none;
	text-decoration: none;
	border: #353b43 solid 1px;
	box-shadow: 0 1px 5px #353b43 inset;
	-webkit-box-shadow: 0 1px 5px #353b43 inset;
	background-color: #dddddd;
	border-radius: 2px;
}

img.avatar {
	height: 50px;
}

td > #imageFilePreview {
	margin-left: 7px;
}

/* Fonction de chargement */
#loading {
	display: none;
	padding: 9px 5px 5px 5px;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -170px;
	background-color: #ffffff;
	border: solid 1px blue;
	-webkit-box-shadow: 0 1px 10px blue;
	box-shadow: 0 1px 10px blue;
	border-radius: 10px;
	z-index: 500;
}

#loading > img {
	border: none;
	vertical-align: middle;
}

#loadingtext {
	margin-left: 10px;
	padding-right: 10px;
}

.ui-autocomplete-loading {
	background: white url("../image/ui-anim_basic_16x16.gif") right center no-repeat;
}

.vertical_center_div {
	height: 150px;
}

.verticalcenter_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.verticalcenter {
	vertical-align: middle;
}

#loading_message_container {
	position: -webkit-sticky; /* Safari */
	position:sticky;
	top: 10px;
	left: 0;
	height: 1px;
	margin-top: 10px;
	z-index: 999;
}
#loading_message_div {
	text-align: left;
	padding:10px;
	padding-left: 20px;
	border-radius: 10px;
}
#loading_message_div > img {
	vertical-align: middle;
	margin-right: 10px;
}
#loading_message_div.loading {
	background-color: #ffcc99;
	border-left: #ff9933 8px solid;	
}
#loading_message_div.success {
	background-color: #adebad;
	border-left: #33cc33 8px solid;	
}
#loading_message_div.fail {
	background-color: #ff8080;
	border-left: #ff0000 8px solid;	
}

/****************************/
/* *** Card with people *** */
/****************************/

.person_card {
	width:280px;
}
.person_card_pic {
	height:310px;
	overflow: hidden;
	background-color: whitesmoke;
}
.person_card_pic > img {
	width:278px;
}

/**********************/
/* *** Formulaire *** */
/**********************/

input[type="file"] {
	display: none;
}

div.button_container {
	width: 100%;
	text-align: center;
}
div.button {
	font-family: sans-serif, "MyFont", Georgia, Arial;
	font-size: 105%;
	background-color: #c0c0c0;
	color: black;
	border-radius: 4px;
	padding: 10px 14px;
	margin: 8px 0;
	border: 1px solid #ccc;
	cursor: pointer;
}

div.button:hover {
	background: #353b43;
	color: white;
}

.form_img {
	margin-left: 6px;
}

.left_pad_center {
	text-align: center;
	padding-left: 20px;
}

/********************************/
/* *** First letter colored *** */
/********************************/

.fl_yellow::first-letter {
	color: #f3f0c9;
}
.fl_green::first-letter {
	color: #c9f3d5;
}
.fl_blue::first-letter {
	color: #b0cff8;
}
.fl_purple::first-letter {
	color: #c1b0f8;
}