/* 
    Elément de base pour toute page mobile 
    Pris ici : http://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html
*/
@media (max-width: 640px) {

    /* passer tous les éléments de largeur fixe en largeur automatique */
    body, element1, element2 {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
    img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
        max-width: 100%;
    }
    
    /* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
    img {
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* gestion des mots longs */
    textarea, table, td, th, code, pre, samp {
        word-wrap: break-word; /* passage à la ligne forcé */
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
    }
    code, pre, samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
    element1, element2 {
        float: none;
        width: auto;
    }

    /* masquer les éléments superflus */
    .hide_mobile {
        display: none !important;
    }

    /* Un message personnalisé */
    body:before {
        display: block;
        color: #777;
        text-align: center;
        font-style: italic;
    }
}

/* Le viewport */
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 */
}

html {
    background-color: white;
    height: 100%;
}

/* Taille de l'écran, optimisé 320 x 480 */
body {
    min-height: 480px;
    width: 320px;
    margin: auto;
    background-color: #eaf5fc;
}

/* Action */
#actionTop {
    margin: auto;
    position: fixed;
    top: 0px;
    height: 70px;
    width: 320px;
    border-bottom: blue solid 1px;
    -webkit-box-shadow: 0 1px 10px blue;
    box-shadow: 0 1px 10px blue;
    z-index: 1000;
    background-color: white;
}
#actionTop img {
    margin: 2px;
}
#actionTop div {    
    margin: 0 5px;
}

.actionDown {
    position: fixed;
    bottom: 0px;
    width: 320px;
    border-top: blue solid 1px;
    -webkit-box-shadow: 0 0 10px blue;
    box-shadow: 0 0 10px blue;
    z-index: 1000;
    background-color: white;
    display: none;
    padding: 5px;
}

.actionDown img {
    vertical-align: middle;
}

/* Override du loading */
#loading {    
    top: 130px;
    margin-left: -100px;
}

/* Corps */
#body {
    padding: 75px 5px;
}
#body h2, #body h1 {
    text-align: center;
}
#body #submit-element {
    margin: 0;
    text-align: center;
}

/* Ajouts d'idée */
.idee {
    padding: 8px 0;
    width: 250px;
}
#newligne {
    vertical-align: -7px;
}

/* Affichage des idées */
.idee_main, .idee_selected {
    margin: 0 0 15px 0;
    border: transparent solid 1px;
    padding: 5px;
}

.idee_selected {
    border: #000000 dashed 1px;
    background-color: #d4d4d4;
}

/* *******************
 * *** Réservation ***
 * ******************* */

.initGroupInput {
    margin-bottom: 15px;
}

.info_table {
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

/* *********************
 * *** Notifications ***
 * ********************* */

#notif img {
    vertical-align: -35%;
}