<?xml version='1.0' encoding='utf-8'?>
<Context>
    <Resource  name="jdbc/web-db" auth="Container"  type="javax.sql.DataSource"
              maxTotal="20"  maxIdle="10"  removeAbandonedOnBorrow="true"
              username="${db.username}"  password="${db.password}" driverClassName="com.mysql.cj.jdbc.Driver"
              url="${db.url}" validationQuery="select 1" testOnBorrow="true" />
</Context>