@CHARSET "UTF-8";

html, body {
	font-size: 105%;
}

div#container {
	position: relative; /* needed for footer positioning*/
	margin: 0 auto; /* center, not in IE5 */
	width: 90%;
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
}

header #logo span a:link, header #logo span a:visited, header #logo span a:active {
	color: #b0cff8;
}

div#content {
	padding: 10px 10px 40px 10px; /* bottom padding for footer */
}

.huge {
	font-size: 130%;
}

/**********************/
/* *** Menu *** */
/**********************/

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8a8a8a;
}

.menu li {
	float: left;
}

.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
	background-color: #111;
}

#mobile_res_search, .mobile_res_search {
	display: none;
}

